/* header start */
/* header top start */
.header_top_wrapper {
    background-color: var(--purple);
  }
  .header_top_wrapper .header_wrapper_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0;
  }
  .header_top_wrapper .header_wrapper_block .language_wrapper .dropdown {
    display: none;
  }
  .header_top_wrapper .header_wrapper_block .language_wrapper .dropdown .dropdown-item.active {
    font-weight: bold;
    color: var(--white);
  }
  .header_top_wrapper
    .header_wrapper_block
    .language_wrapper
    .dropdown
    .language_btn {
    color: var(--white);
  }
  .header_top_wrapper
    .header_wrapper_block
    .language_wrapper
    .dropdown
    .language_btn:active {
    border-color: transparent;
  }
  .btn-check:checked + .btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check) + .btn:active {
    border-color: transparent;
  }
  .dropdown-item:hover {
    background-color: var(--white-dark);
  }
  .dropdown-item.active,
  .dropdown-item:active {
    background-color: var(--white-purple);
  }
  .header_top_wrapper
    .header_wrapper_block
    .language_wrapper
    .language_links_wrapper
    .language_items {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header_top_wrapper
    .header_wrapper_block
    .language_wrapper
    .language_links_wrapper
    .language_items
    .language_item
    a {
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 400;
    color: var(--white);
  }
  .header_top_wrapper
    .header_wrapper_block
    .language_wrapper
    .language_links_wrapper
    .language_items
    .language_item
    .item.active {
    border-bottom: 2px solid var(--white);
  }
  .header_top_wrapper
    .header_wrapper_block
    .special_block_wrapper
    .special_content {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header_top_wrapper
    .header_wrapper_block
    .special_block_wrapper
    .special_content
    .special_content_title {
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 400;
    color: var(--white);
  }
  /* header top end */
  
  /* header bottom start */
  .navbar {
    padding: 4px 0;
    background-color: var(--white) !important;
  }
  .navbar-toggler {
    border-color: var(--purple);
  }
  
  .navbar-collapse .navbar-nav {
    align-items: center;
  }
  .navbar-collapse form {
    justify-content: center;
  }
  .navbar-toggler:focus {
    box-shadow: 0 0 0 0.05rem;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: clamp(12px, 1.4vw, 16px);
    /* font-size: var(--fontSize); */
    font-weight: 500;
    color: var(--dark);
    padding: 8px 0;
    margin: 0 8px;
  }
  .navbar .navbar-nav .nav-item .nav-link.active {
    border-bottom: 2px solid var(--purple);
  }
  .navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--purple);
  }
  .navbar .navbar-brand img {
    width: 100%;
    max-width: 74px;
  }
  .navbar form {
    gap: 15px;
  }
  .navbar .btn_left {
    font-size: clamp(12px, 1.4vw, 16px);
    font-weight: 500;
    border-color: var(--dark);
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease-in;
  }
  .navbar .btn_right {
    font-size: clamp(12px, 1.4vw, 16px);
    font-weight: 500;
    border-color: var(--purple);
    background-color: var(--purple);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease-in;
  }
  .navbar .btn_left:hover {
    color: var(--purple);
    background-color: var(--white-dark);
  }
  .navbar .btn_right:hover {
    background-color: var(--white-purple);
  }
  .navbar-toggler-icon {
    width: 1.3rem;
    height: 1.3rem;
  }
  /* header bottom end */
  /* header end */