/* responsive design start */
@media (max-width: 1300px) {
  /* ====================================================== */
  /* CONTACT PAGE CUSTOM CSS START */
  #contact_section_wrapper
    .contact_wrapper
    .contact_top
    .contact_top_left
    .contact_social_wrapper
    .contact_social_items_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-items: center;
  }
  /* CONTACT PAGE CUSTOM CSS END */
  /* ====================================================== */
}

@media (max-width: 1200px) {
  /* reward section */
  #reward_section
    .reward_wrapper
    .reward_wrapper_content
    .reward_content_title {
    line-height: 30px;
  }
  /* reward section */
}

@media (max-width: 992px) {
  .navbar-collapse {
    margin: 5px 0 20px 0;
    border-top: 1px solid var(--purple);
  }
  /* reward section */
  #reward_section .reward_wrapper {
    display: flex;
    padding: 50px 20px;
  }
  #reward_section .reward_wrapper .reward_wrapper_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 0;
  }
  /* reward section */

  /* services section */
  #services_section .services_section_wrapper .services_right_wrapper {
    padding: 50px 0 0 0;
  }
  /* services section */

  /* news section */
  #news_section .news_section_wrapper .news_card_wrapper .card_item {
    margin: 10px 0;
  }
  /* news section */
  /* ====================================================== */
  /* ABOUT US PAGE CUSTOM CSS START */
  #about_us_section_wrapper .about_us_wrapper {
    padding: 30px 60px;
  }
  #about_us_section_wrapper .about_us_wrapper .about_us_header {
    margin-bottom: 30px;
  }
  /* ABOUT US PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* CONDIDATE PAGE CUSTOM CSS START */
  #condidate_section_wrapper .condidate_wrapper {
    padding: 50px 40px;
  }
  #condidate_section_wrapper
    .condidate_wrapper
    .condidate_cards_wrapper
    .card_item_title_wrapper {
    margin: 10px 0;
    text-align: center;
  }
  /* CONDIDATE PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* WINNERS PAGE CUSTOM CSS START */
  #winners_section_wrapper .winners_wrapper {
    padding: 50px 40px;
  }
  #winners_section_wrapper
    .winners_wrapper
    .winners_cards_wrapper
    .card_item_title_wrapper {
    margin: 10px 0;
  }
  /* WINNERS PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* GALERY PAGE CUSTOM CSS START */
  #galery_section_wrapper .galery_wrapper {
    padding: 40px 40px;
  }
  #galery_section_wrapper .galery_wrapper .galery_title {
    margin-bottom: 40px;
  }
  /* GALERY PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* OFERTA PAGE CUSTOM CSS START */
  #public_oferta_section_wrapper .oferta_wrapper .oferta_header {
    margin-bottom: 30px;
  }
  #public_oferta_section_wrapper .oferta_wrapper {
    padding: 30px 60px;
  }
  /* OFERTA PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* NEWS DESCRIPTION PAGE CUSTOM CSS START */
  #news_description_section_wrapper
    .news_description_wrapper
    .news_description_content
    ul {
    margin-left: 30px;
  }
  /* NEWS DESCRIPTION PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* CONTACT PAGE CUSTOM CSS START */
  #contact_section_wrapper .contact_wrapper {
    background-color: var(--white);
    padding: 80px 50px;
  }
  #contact_section_wrapper
    .contact_wrapper
    .contact_top
    .contact_top_left
    .contact_info_wrapper
    .contact_info {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    gap: 50px;
  }
  #contact_section_wrapper
    .contact_wrapper
    .contact_top
    .contact_top_right
    .user_info
    input,
  textarea {
    width: 100%;
    max-width: 992px;
  }
  #contact_section_wrapper
    .contact_wrapper
    .contact_top
    .contact_top_right
    .contact_btn {
    width: 100%;
    max-width: 992px;
  }
  #contact_section_wrapper
    .contact_wrapper
    .contact_top
    .contact_top_left
    .contact_social_wrapper
    .contact_social_items_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    align-items: center;
  }
  /* CONTACT PAGE CUSTOM CSS END */
  /* ====================================================== */
}

@media (max-width: 768px) {
  /* HOME PAGE CUSTOM CSS END */
  /* news section */
  #news_section .news_section_wrapper {
    padding: 100px 20px;
  }
  /* news section */

  /* question section */
  #question_section .question_content_wrapper {
    padding: 100px 20px;
  }
  #question_section
    .question_content_wrapper
    .question_main_wrapper
    .accordion_left {
    padding: 0 25px;
  }
  #question_section
    .question_content_wrapper
    .question_main_wrapper
    .accordion_right {
    padding: 0 25px;
  }
  /* question section */

  /* partners section */
  #parnters_section .partners_content_wrapper {
    padding: 100px 20px;
  }
  footer .section_padd {
    padding: 0px 0 76px;
  }

  footer .footer_top_wrapper {
    padding: 0 20px;
  }
  /* HOME PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* ABOUT US PAGE CUSTOM CSS START */
  #about_us_section_wrapper .about_us_wrapper {
    padding: 30px 40px;
  }
  #about_us_section_wrapper .about_us_wrapper .about_us_header {
    margin-bottom: 30px;
  }
  #about_us_section_wrapper .about_us_wrapper .about_us_content_wrapper ul {
    margin-left: 20px;
  }
  /* ABOUT US PAGE CUSTOM CSS END */
  /* GALERY PAGE CUSTOM CSS START */
  #galery_section_wrapper .galery_wrapper {
    padding: 20px 40px;
  }
  #galery_section_wrapper .galery_wrapper .galery_title {
    margin-bottom: 30px;
  }
  /* GALERY PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* OFERTA PAGE CUSTOM CSS START */
  #public_oferta_section_wrapper .oferta_wrapper {
    padding: 30px 40px;
  }
  #public_oferta_section_wrapper .oferta_wrapper .oferta_content_wrapper ul {
    margin-left: 20px;
  }
  /* OFERTA PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* NEWS DESCRIPTION PAGE CUSTOM CSS START */
  #news_description_section_wrapper
    .news_description_wrapper
    .news_description_content {
    padding: 10px 10px;
  }
  /* NEWS DESCRIPTION PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* CONTACT PAGE CUSTOM CSS START */
  #contact_section_wrapper .contact_wrapper {
    background-color: var(--white);
    padding: 60px 40px;
  }
  /* CONTACT PAGE CUSTOM CSS END */
  /* ====================================================== */
}

@media (max-width: 576px) {
  /* ====================================================== */
  /* HOME PAGE CUSTOM CSS START */
  .header_top_wrapper .header_wrapper_block .language_wrapper .dropdown {
    display: block;
  }
  .header_top_wrapper
    .header_wrapper_block
    .language_wrapper
    .language_links_wrapper
    .language_items {
    display: none;
  }
  #banner_section .banner .banner_content {
    top: 30%;
  }
  #banner_section .banner .banner_content .banner_content_title {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 0.5rem;
  }
  #banner_section .banner .banner_content .banner_content_btn {
    padding: 10px 10px;
  }
  /* services section  */
  #services_section .services_section_wrapper {
    padding: 80px 40px;
  }
  /* services section  */
  /* HOME PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* ABOUT US PAGE CUSTOM CSS START */
  #about_us_section_wrapper .about_us_wrapper {
    padding: 20px 20px;
  }
  #about_us_section_wrapper .about_us_wrapper .about_us_header {
    margin-bottom: 20px;
  }
  /* ABOUT US PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* CONDIDATE PAGE CUSTOM CSS START */
  #condidate_section_wrapper .condidate_wrapper .condidate_header {
    margin-bottom: 0;
  }
  /* CONDIDATE PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* WINNERS PAGE CUSTOM CSS START */
  #winners_section_wrapper .winners_wrapper {
    padding: 20px 40px;
  }
  #winners_section_wrapper .winners_wrapper .winners_header {
    margin-bottom: 20px;
  }
  /* WINNERS PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* GALERY PAGE CUSTOM CSS START */
  #galery_section_wrapper .galery_wrapper {
    padding: 20px 40px;
  }
  #galery_section_wrapper .galery_wrapper .galery_title {
    margin-bottom: 20px;
  }
  /* GALERY PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* NEWS PAGE CUSTOM CSS START */
  #news_section_wrapper .news_wrapper .news_card_wrapper .item .item_content {
    padding: 10px;
  }
  /* NEWS PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* OFERTA PAGE CUSTOM CSS START */
  #public_oferta_section_wrapper .oferta_wrapper .oferta_header {
    margin-bottom: 20px;
  }
  #public_oferta_section_wrapper .oferta_wrapper {
    padding: 20px 20px;
  }
  /* OFERTA PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* BANNER DESCRIPTION PAGE CUSTOM CSS START */
  #banner_description_section_wrapper .banner_description_wrapper {
    padding: 0 20px 50px;
  }
  /* BANNER DESCRIPTION PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* NEWS DESCRIPTION PAGE CUSTOM CSS START */
  #news_description_section_wrapper
    .news_description_wrapper
    .news_description_content
    ul {
    margin-left: 15px;
  }
  #news_description_section_wrapper
    .news_description_wrapper
    .news_description_content {
    padding: 0;
  }
  /* NEWS DESCRIPTION PAGE CUSTOM CSS END */
  /* ====================================================== */
  /* CONTACT PAGE CUSTOM CSS START */
  #contact_section_wrapper .contact_wrapper {
    background-color: var(--white);
    padding: 40px 20px;
  }
  #contact_section_wrapper
    .contact_wrapper
    .contact_top
    .contact_top_left
    .contact_info_wrapper
    .contact_info
    .contact_info_head {
    font-size: clamp(14px, 2.5vw, 24px);
    font-weight: 700;
    width: 0;
    max-width: 0;
    color: var(--dark);
  }

  /* CONTACT PAGE CUSTOM CSS END */
  /* ====================================================== */
}

@media (max-width: 476px) {
  /* news section  */
  #news_section
    .news_section_wrapper
    .news_card_wrapper
    .card_item
    .card_content {
    padding: 20px 15px;
  }
  /* news section end */
  /* ====================================================== */
  /* CONTACT PAGE CUSTOM CSS START */
  #contact_section_wrapper
    .contact_wrapper
    .contact_top
    .contact_top_left
    .contact_social_wrapper
    .contact_social_items_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    align-items: center;
  }
  /* CONTACT PAGE CUSTOM CSS END */
  /* ====================================================== */
}
/* responsive design  */
