

/* dropdown start */
/* .special_content_title {
  display: flex;
  align-items: center;
}

.special_content_title img {
  margin-right: 10px;
}

.dropdown-menu {
  margin-top: 10px;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
}

.dropdown-menu.show {
  display: block;
} */
/* dropdown end */

/* ---------------------------------------------- */
/* main banner section start */
#banner_section {
  background-image: url("/Assets/Images/home/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#banner_section .banner {
  background-image: url("/Assets/Images/home/banner.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1440px;
  aspect-ratio: 1440 / 900;
  height: auto;
  position: relative;
}
#banner_section .banner .banner_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: absolute;
  top: 40%;
  left: 5%;
}
#banner_section .banner .banner_content .banner_content_header {
  font-size: clamp(16px, 5vw, 56px);
  /* font-size: calc(var(--fontSize) + 40px); */
  font-weight: 500;
  color: var(--white);

  display: inline-block;
  position: relative;
}
#banner_section .banner .banner_content .banner_content_header span {
  position: absolute;
  top: -60px;
  background-color: rgb(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.5);
  text-align: center;
  color: var(--white);
  display: none;
  padding: 20px 20px 30px 20px;
  font-size: var(--fontSize);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    61% 75%,
    51% 100%,
    39% 75%,
    0% 75%
  );
}
#banner_section .banner .banner_content .banner_content_header:hover span {
  display: block;
}

#banner_section .banner .banner_content .banner_content_title {
  width: 100%;
  max-width: 560px;
  font-size: clamp(10px, 1.5vw, 18px);
  font-weight: 400;
  color: var(--white);
}
#banner_section .banner .banner_content .banner_content_btn {
  padding: 12px 24px;
  font-size: clamp(10px, 1.5vw, 16px);
  font-weight: 400;
  color: var(--white);
  background-color: var(--purple);
  border-radius: 8px;
  transition: all 0.3s ease-in;
}
#banner_section .banner .banner_content .banner_content_btn:hover {
  padding: 12px 24px;
  font-size: clamp(10px, 1.5vw, 16px);
  font-weight: 400;
  color: var(--white);
  background-color: var(--white-purple);
  border-radius: 8px;
}
/* main banner section end */
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/* About the Reward (Mukofot haqida) section start */
#reward_section .reward_wrapper {
  display: flex;
  padding: 100px 72px;
  background-color: rgba(248, 250, 252, 1);
}
#reward_section .reward_wrapper .reward_image_wrapper img {
  width: 100%;
  /* max-width: 460px; */
  border-radius: 16px;
}
#reward_section .reward_wrapper .reward_wrapper_content .reward_content_header {
  color: var(--dark);
  font-size: clamp(24px, 5vw, 80px);
  font-weight: 800;
}
#reward_section .reward_wrapper .reward_wrapper_content .reward_content_title {
  color: var(--dark);
  font-size: clamp(14px, 1.2vw, 24px);
  line-height: 36px;
  font-weight: 400;
}
#reward_section
  .reward_wrapper
  .reward_wrapper_content
  .reward_content_btn_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
#reward_section
  .reward_wrapper
  .reward_wrapper_content
  .reward_content_btn_wrapper
  .reward_left_btn,
.reward_right_btn {
  border: 1px solid var(--purple);
  border-radius: 8px;
  padding: 12px 24px;
  color: var(--purple);
  font-size: clamp(11px, 1vw, 16px);
  transition: all 0.3s ease-in;
}
#reward_section
  .reward_wrapper
  .reward_wrapper_content
  .reward_content_btn_wrapper
  .reward_left_btn:hover,
.reward_right_btn:hover {
  background-color: var(--white-purple);
  color: var(--white);
}

/* About the Reward (Mukofot haqida) section end */
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/* Services section start */

#services_section .services_section_wrapper {
  background-color: var(--purple);
  padding: 100px 72px;
}
#services_section .services_section_wrapper .services_left_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35px;
}
#services_section
  .services_section_wrapper
  .services_left_content
  .services_left_content_text {
  color: var(--white);
  font-size: clamp(12px, 1vw, 16px);
  font-weight: 600;
}
#services_section
  .services_section_wrapper
  .services_left_content
  .services_left_content_header {
  color: var(--white);
  font-size: clamp(24px, 2vw, 48px);
  font-weight: 700;
}
#services_section
  .services_section_wrapper
  .services_left_content
  .services_left_content_title {
  color: var(--white);
  font-size: clamp(14px, 1.2vw, 16px);
  font-weight: 400;
  line-height: 30px;
}
#services_section
  .services_section_wrapper
  .services_left_content
  .services_left_content_btn {
  color: var(--white);
  font-size: clamp(14px, 1.3vw, 18px);
  font-weight: 400;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid var(--white);
}
#services_section
  .services_section_wrapper
  .services_left_content
  .services_left_content_btn:hover {
  background-color: var(--white-purple);
}
#services_section .services_section_wrapper .services_right_wrapper {
  padding: 0 0 0 50px;
}
#services_section
  .services_section_wrapper
  .services_right_wrapper
  .services_right_item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding: 10px;
}
#services_section
  .services_section_wrapper
  .services_right_wrapper
  .services_right_item
  .services_item_header {
  color: var(--white);
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 700;
}
#services_section
  .services_section_wrapper
  .services_right_wrapper
  .services_right_item
  .services_item_title {
  color: var(--white);
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 400;
}
/* Services section end */
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/* News Section start */

#news_section .news_section_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px 72px;
  background-color: rgba(248, 250, 252, 1);
}
#news_section .news_section_wrapper .news_header_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#news_section .news_section_wrapper .news_header_wrapper .news_header_text {
  color: var(--dark);
  font-size: clamp(14px, 1.5vw, 16px);
}
#news_section .news_section_wrapper .news_header_wrapper .news_header_title {
  color: var(--dark);
  font-size: clamp(20px, 3vw, 48px);
}
#news_section .news_section_wrapper .news_card_wrapper .card_item {
  background-color: var(--white);
  border-radius: 16px;
}
#news_section .news_section_wrapper .news_card_wrapper .card_item img {
  width: 100%;
  border-radius: 16px;
}
#news_section
  .news_section_wrapper
  .news_card_wrapper
  .card_item
  .card_item_header {
  color: var(--dark);
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#news_section
  .news_section_wrapper
  .news_card_wrapper
  .card_item
  .card_item_title {
  color: var(--dark);
  font-size: clamp(12px, 1.5vw, 16px);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#news_section
  .news_section_wrapper
  .news_card_wrapper
  .card_item
  .card_item_btn {
  color: var(--purple);
  font-size: clamp(12px, 1.5vw, 16px);
  font-weight: 500;
}
#news_section
  .news_section_wrapper
  .news_card_wrapper
  .card_item
  .card_item_btn:hover {
  color: var(--white-purple);
}
#news_section
  .news_section_wrapper
  .news_card_wrapper
  .card_item
  .card_content {
  padding: 20px 30px;
}
#news_section .news_section_wrapper .news_btn_wrapper .news_btn {
  border: 1px solid var(--purple);
  padding: 12px 24px;
  color: var(--purple);
  border-radius: 8px;
  font-size: clamp(11px, 1vw, 16px);
  transition: all 0.3s ease-in;
}
#news_section .news_section_wrapper .news_btn_wrapper .news_btn:hover {
  color: var(--white);
  background-color: var(--purple);
}
/* News Section end */
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/* question section start */
#question_section .question_content_wrapper .question_header_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}
#question_section
  .question_content_wrapper
  .question_header_wrapper
  .question_header {
  color: var(--white);
  font-size: clamp(20px, 4vw, 48px);
  font-weight: 700;
}
#question_section
  .question_content_wrapper
  .question_header_wrapper
  .question_title {
  color: var(--white);
  font-size: clamp(14px, 1.5vw, 18px);
  font-weight: 400;
}
#question_section .question_content_wrapper .question_footer_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}
#question_section
  .question_content_wrapper
  .question_footer_wrapper
  .question_footer_header {
  color: var(--white);
  font-size: clamp(18px, 3vw, 32px);
  font-weight: 700;
}
#question_section
  .question_content_wrapper
  .question_footer_wrapper
  .question_footer_title {
  color: var(--white);
  font-size: clamp(14px, 1.5vw, 18px);
  font-weight: 400;
}
#question_section
  .question_content_wrapper
  .question_footer_wrapper
  .question_footer_btn {
  color: var(--purple);
  font-size: clamp(14px, 1.5vw, 16px);
  font-weight: 500;
  background-color: var(--white);
  padding: 12px 24px;
  border: 1px solid var(--purple);
  border-radius: 8px;
}
#question_section
  .question_content_wrapper
  .question_footer_wrapper
  .question_footer_btn:hover {
  background-color: var(--purple);
  border-color: var(--white);
  color: var(--white);
}

/* accordion block */
#question_section .question_content_wrapper {
  padding: 100px 72px;
}
#question_section
  .question_content_wrapper
  .question_main_wrapper
  .accordion_left {
  padding: 0 25px 0 0;
}
#question_section
  .question_content_wrapper
  .question_main_wrapper
  .accordion_right {
  padding: 0 0 0 25px;
}
#question_section
  .question_content_wrapper
  .question_main_wrapper
  .question_accordion:first-child {
  margin-top: 1.5rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--white);
  cursor: pointer;
}
#question_section
  .question_content_wrapper
  .question_main_wrapper
  .question_accordion {
  margin-top: 0.5rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--white);
  cursor: pointer;
}

#question_section
  .question_content_wrapper
  .question_main_wrapper
  .question_accordion
  .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#question_section
  .question_content_wrapper
  .question_main_wrapper
  .question_accordion
  .question
  h3 {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 700;
  color: var(--white);
}
#question_section
  .question_content_wrapper
  .question_main_wrapper
  .question_accordion
  .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}
#question_section
  .question_content_wrapper
  .question_main_wrapper
  .question_accordion
  .answer
  p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: clamp(13px, 3vw, 18px);
  color: var(--white);
}
#question_section
  .question_content_wrapper
  .question_main_wrapper
  .question_accordion.active
  .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}
#question_section
  .question_content_wrapper
  .question_main_wrapper
  .question_accordion.active
  img {
  transform: rotate(180deg);
}
#question_section
  .question_content_wrapper
  .question_main_wrapper
  .question_accordion
  img {
  transition: transform 0.5s ease-in;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#question_section .question_content_wrapper {
  background-color: var(--purple);
}
/* accordion block */
/* question section end */
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/* partners section start */
#parnters_section .partners_content_wrapper {
  padding: 100px 72px;
  background-color: rgba(248, 250, 252, 1);
}
#parnters_section .partners_content_wrapper .partners_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
#parnters_section .partners_content_wrapper .partners_content img {
  width: 100%;
  max-width: 140px;
}
#parnters_section .partners_content_wrapper .partneers_header_title {
  color: var(--dark);
  font-size: clamp(16px, 2vw, 26px);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
/* partners section end */
/* ---------------------------------------------- */
